bin/*.dll
bin/*.exe
bin/*.so
codeblocks/*.cbTemp
codeblocks/geometry/obj/
codeblocks/geometry/*.depend
codeblocks/geometry/*.layout
codeblocks/geometry/*.cbTemp
codeblocks/graphics/obj/
codeblocks/graphics/*.depend
codeblocks/graphics/*.layout
codeblocks/graphics/*.cbTemp
codeblocks/game/obj/
codeblocks/game/*.depend
codeblocks/game/*.layout
codeblocks/game/*.cbTemp
doc/doxygen/html/
include/glew/
include/lib3ds/
include/lua/
include/SDL/
lib/
