bin/data/images/
bin/data/models/
bin/*.dll
bin/*.exe
bin/game
bin/gamed
codeblocks/game_linux/obj/
codeblocks/game_linux/*.cbTemp
codeblocks/game_linux/*.depend
codeblocks/game_linux/*.layout
codeblocks/game_mingw/obj/
codeblocks/game_mingw/*.cbTemp
codeblocks/game_mingw/*.depend
codeblocks/game_mingw/*.layout
codeblocks/geometry/obj/
codeblocks/geometry/*.cbTemp
codeblocks/geometry/*.depend
codeblocks/geometry/*.layout
codeblocks/graphics/obj/
codeblocks/graphics/*.cbTemp
codeblocks/graphics/*.depend
codeblocks/graphics/*.layout
codeblocks/input/obj/
codeblocks/input/*.cbTemp
codeblocks/input/*.depend
codeblocks/input/*.layout
codeblocks/*.cbTemp
doc/doxygen/html/
include/glew/
include/lib3ds/
include/lua/
include/SDL/
lib/
